{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block Aboutactive %} active {% endblock Aboutactive %}

{% block body %}

<h1>
    i am arham
</H1>

<p><i>
        i am arham and i am a coder i willl amke your blogging website thet makes u millions of billio ns of dollars on
        the internet
        i am arham and i am a coder i willl amke your blogging website thet makes u millions of billio ns of dollars on
        the internet
        i am arham and i am a coder i willl amke your blogging website thet makes u millions of billio ns of dollars on
        the internet
    </i>
</p>


{% endblock %}